.animated-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 16px );
        -webkit-backdrop-filter: blur( 16px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 200px;
        margin: 20;
        
    }

.animated-div h1{
    font-size: 20px;
}
.animated-div button{
    width: 100%;
}